- title "Request"
%h1= link_to "< Back to requests", requests_path
%p
  %strong Title:
  =h @request.title

%p
  = image_tag("/images/spinner.gif", :align => "absmiddle", :id => "spinner", :style =>"display: none;" )

#table
  = render :partial => "items_list"
%p
  = link_to "Edit", edit_request_path(@request)
  |
  = link_to "Destroy", @request, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", requests_path
